*{margin: 0;padding: 0;}
body{font-family: "lucida Grande",Verdana;font-size: 12px;}
ul,li{list-style: none;}
a{text-decoration: none;}



.main{width:100%;height: 100%;background-image: url("../images/adminbg.jpg");background-size: 100% 100%;position: absolute;}
.content{width: 340px;height: 235px;border: 1px solid #eaeaea;margin-left: 40%;margin-top: 180px;box-shadow: 10px 10px 5px #1481B6;border-radius: 5px;}

.content span{float: left;text-align: center;height: 36px;line-height: 36px;margin-top: 5px;margin-bottom: 5px;margin-left: 5px;font-family: 微软雅黑, 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 14px;color: #fff;}
.bd{width: 325px;height: 40px;margin-top: 20px;margin-left: 15px;}
.txtUserid{outline: none;width: 235px;height: 30px;margin-top:5px;margin-left: 5px;margin-bottom: 5px;padding: 1px;line-height: 28px;float: left;color:#808080;}
.txtUserpwd{outline: none;width: 235px;height: 30px;margin-top:5px;margin-left: 6px;margin-bottom: 5px;padding: 1px;line-height: 28px;float: left;color:#808080;}
.btn{width: 325px;height: 35px;margin: 20px auto;}
.btnLogin{width: 110px;height: 35px;text-align: center;background-color: #5A98DE;border: none;font-size: 18px;color: #fff;font-weight: bold;cursor: pointer;float: left;margin-left: 30px;line-height:35px;}
.btnRegist{width: 110px;height: 35px;text-align: center;background-color: #5A98DE;border: none;font-size: 18px;color: #fff;font-weight: bold;cursor: pointer;float: right;margin-right: 20px;line-height:35px;}


.YH{width: 280px;height: 35px;margin: 10px auto;padding-left:45px;}
.YH span{color:red;}
.MM{width: 280px;height: 35px;margin: 10px auto;padding-left:45px;}
.MM span{color:red;}